.place__description {
  display: grid;
  gap: 26px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__description {
    gap: 25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__description {
    gap: 25px;
    margin: 32px 16px 0;
  }
}